name: Check

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Cache build assets
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          backend/target/
          frontend/target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Configure Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown

    - name: Download trunk
      uses: jetli/trunk-action@v0.1.0
      with:
        version: 'latest'

    - name: Build
      run: cargo build --verbose --manifest-path backend/Cargo.toml

    - name: Check code style
      run: cargo fmt -- --check --manifest-path backend/Cargo.toml

    - name: Build frontend
      run: trunk build
      working-directory: ./frontend